---
import ContactCTA from '../components/ContactCTA.astro';
import Hero from '../components/Hero.astro';
import BaseLayout from '../layouts/BaseLayout.astro';
---

<BaseLayout title="About | Marcus Levine" description="About Marcus Levine">
	<div class="stack gap-20">
		<main class="wrapper about">
			<Hero
				title="About"
				tagline="Learn more about me and my journey"
			>
				<img
					width="1066"
					height="1599"
					src="/assets/open-door.jpg"
					alt="Marcus Levine sitting in an open posture in front of a door"
				/>
			</Hero>

			<section>
				<h2 class="section-title">Background</h2>
				<div class="content">
					<p>
						My academic background is in astrophysics and philosophy, 
						but my professional background is in data science, data engineering and software architecture. 
						I worked in consulting as a data scientist for a few years, then transitioned into data engineering and software architecture at an AdTech startup that made online advertising less creepy. 
					</p>
					<br />
					<p>
						After about four years in AdTech, I felt a yearning to work on something more meaningful, in particular climate and sustainabilty. 
						Around the same time I started learning about blockchain technology. 
						Soon enough I became a contributor to web3 projects on the side - eventually leaving my corporate tech job behind to become a self-sovereign worker. 
					</p>
					<br />
					<p>
						At the moment, I'm contributing to KlimaDAO, an organization with tens of thousands of members focused on scaling ecological benefit assets like carbon credits using digital technology like blockchain and Decentralized Finance.
					</p>
					<br />
					<p>
						Recently, with the spinout of Carbonmark (a universal carbon marketplace, think "Amazon for carbon credits") from KlimaDAO, I've taken on a new role architecting software solutions both internally to power Carbonmark's products - for instance our carbon project database - as well as for partners who are integrating Carbonmark's products into their own applications.
					</p>
					<br />
					<p>
						I was also a participant in the first sprint of the Ecological Benefits Framework (EBF) Activator, the initial cohort of experts convened to inform and shape the EBF.
					</p>
				</div>
			</section>
			<section>
				<h2 class="section-title">Education</h2>
				<div class="content">
					<p><b>Bachelor's Degree in Astrophysics & Philosophy</b></p>
					<p><i>Columbia University in the City of New York</i></p>
				</div>
			</section>
			<section>
				<h2 class="section-title">Skills</h2>
				<div class="content">
					<ul>
						<li>Philosophy</li>
						<li>Coaching</li>
						<li>Strategic Communication & Public Speaking</li>
						<li>Data Science & Data Engineering</li>
						<li>Cloud Infrastructure & Software Architecture</li>
						<li>Bodywork</li>
						<li>Dance</li>
						<li>Qi Gong & Daoist Meditation</li>
					</ul>
				</div>
			</section>
		</main>

		<ContactCTA />
	</div>
</BaseLayout>

<style>
	.about {
		display: flex;
		flex-direction: column;
		gap: 3.5rem;
	}

	img {
		margin-top: 1.5rem;
		border-radius: 1.5rem;
		box-shadow: var(--shadow-md);
	}

	section {
		display: flex;
		flex-direction: column;
		gap: 0.5rem;
		color: var(--gray-200);
	}

	.section-title {
		grid-column-start: 1;
		font-size: var(--text-xl);
		color: var(--gray-0);
	}

	.content {
		grid-column: 2 / 4;
	}

	.content :global(a) {
		text-decoration: 1px solid underline transparent;
		text-underline-offset: 0.25em;
		transition: text-decoration-color var(--theme-transition);
	}

	.content :global(a:hover),
	.content :global(a:focus) {
		text-decoration-color: currentColor;
	}

	@media (min-width: 50em) {
		.about {
			display: grid;
			grid-template-columns: 1fr 60% 1fr;
		}

		.about > :global(:first-child) {
			grid-column-start: 2;
		}

		section {
			display: contents;
			font-size: var(--text-lg);
		}
	}
</style>
